@import "tailwindcss";

@theme {

}

@layer base {
  body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Estilo para inputs ficarem elegantes e legíveis no vídeo */
input {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}